.navbar-brand img
{
    width: 200px;
}

.btn{
    padding: 0;
    margin-right: 25px;
}

.btn .fa{
    font-size: 1.5rem;
    border-radius: 50%;
}

.nav-item{
    margin-right: 5px;
}

.container-fluid{
    margin: 0;
    background-color: #090c11;
}

.dropdown-menu a
{
    color: #ffffff !important;
}