<footer class="page-footer unique-color-dark center-on-small-only">
  <div class="container">
      <div class="row">
          <div class="col-md-6" id="footext">
              <h1>Road to the Dream</h1>
              <p>Движение, которое изменит мир!</p>
          </div>
          <div class="col-md-3" id="sslk">
              <h5 class="title">Полезные ссылки</h5>
              <ul>
                  <li><a href="#">О нас</a></li>
                  <li><a href="#">Мероприятия</a></li>
                  <li><a href="#">Членство</a></li>
                  <li><a href="#">Контакты</a></li>
              </ul>
          </div>
          <div class="col-md-3" id="sslk">
            <h5 class="title">Контакты</h5>
            <ul>
                <li><img src="https://image.ibb.co/edr2Xn/placeholder.png" alt="map-pin-icon"><p id="pin">Москва, Крылатская улица, 45, ЖК «ДОЛИНА ГРЁЗ»</p></li>
                <li><img src="https://image.ibb.co/nu2vJS/phone_call.png" alt="tel-icon"><p id="tel">+7 800 555 35 35</p></li>
            </ul>
          </div>
      </div>
  </div>
  <div class="footer-copyright">
      <div class="container-fluid">
          © 2018 Powered by: <a href="https://vk.com/inka_e">Ivan</a> & <a href="https://vk.com/chy.vash">Andrey</a>
      </div>
  </div>
</footer>
