<footer class="page-footer unique-color-dark center-on-small-only">
  <div class="container">
      <div class="row">
          <div class="col-md-6" id="footext">
              <h5 class="title">Road to the Dream</h5>
              <p>Ты рожден, чтобы стать ЛЕГЕНДОЙ!</p>
          </div>
          <div class="col-md-6" id="sslk">
              <h5 class="title">Полезные ссылки</h5>
              <ul>
                  <li><a href="#">О нас</a></li>
                  <li><a href="#">Мероприятия</a></li>
                  <li><a href="#">Членство</a></li>
                  <li><a href="#">Контакты</a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="footer-copyright">
      <div class="container-fluid">
          © 2018 Powered by: <a href="https://vk.com/inka_e">Ivan</a> & <a href="https://vk.com/chy.vash">Andrey</a>
      </div>
  </div>
</footer>
