<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="parallax-one" id="parallax-one">
        <div class="content-wrapper-text left">
          <h1 class="rd">ROAD TO THE DREAМ</h1><h1 class="gym">GYM — </h1><h2>ТЕРРИТОРИЯ ЛИЧНЫХ<br>РЕКОРДОВ!</h2>
          <h3 class="content-wrapper-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, architecto saepe fuga repellendus id dicta laudantium, qui perferendis fugiat sequi modi libero. Voluptate non fugiat quis. Necessitatibus quo inventore amet.</h3>
          <a pageScroll href="#content-wrapper-one"><div class="arrow"></div></a>
        </div>
      </div>
      <div class="content-wrapper-one" id="content-wrapper-one">
        <div class="content-wrapper-text left">
          <h1>SOME TEXT HERE</h1>
          <h3 class="content-wrapper-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos molestias ipsum rem, architecto quibusdam porro illo illum ratione adipisci totam numquam dolore consectetur nam fugit quae accusantium vero et repellat!</h3>
          <a pageScroll href="#parallax-two"><div class="arrow"></div></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="parallax-two" id="parallax-two">
        <div class="content-wrapper-text left">
          <h1>SOME TEXT HERE</h1>
          <h3 class="content-wrapper-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel officia nesciunt id labore atque unde. Cum enim excepturi architecto recusandae? Commodi temporibus odio impedit omnis unde veniam officiis sunt explicabo.</h3>
          <a pageScroll href="#content-wrapper-two"><div class="arrow"></div></a>
        </div>
      </div>
      <div class="content-wrapper-two" id="content-wrapper-two">
        <div class="content-wrapper-text left">
          <h1>SOME TEXT HERE</h1>
          <h3 class="content-wrapper-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit dicta soluta laudantium voluptates beatae sit facere voluptatem commodi deleniti et aperiam quos qui nobis possimus, maxime ab temporibus sint quasi!</h3>
          <a pageScroll href="#parallax-one"><div class="arrow" id="up-arrow"></div></a>
        </div>
      </div>
    </div>
  </div>
</div>