<mdb-carousel [isControls]="true" [animation]="'slide'">
  <mdb-slide>
      <img class="d-block w-100" src="https://pp.userapi.com/c840024/v840024791/848fc/RyRQdWpEg_I.jpg" alt="First slide">
  </mdb-slide>
  <mdb-slide>
      <img class="d-block w-100" src="https://pp.userapi.com/c840429/v840429774/619c8/NBXDnN6anHo.jpg" alt="Second slide">
  </mdb-slide>
  <mdb-slide>
      <img class="d-block w-100" src="https://pp.userapi.com/c840024/v840024791/84906/4eC9te2If30.jpg" alt="Third slide">
  </mdb-slide>
</mdb-carousel>