/* You can add global styles to this file, and also import other style files */
@import "./reset.scss";

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.content {
  padding-bottom: 200px;
}

p, h1, h2, h3, h4, span, a, .h1, .h2, .h3, .h4
{
  color: #ffffff;
}

.container-fluid{
  background-color:	#263238;
  margin-top: 54px;
  padding: 0;
}

a:visited
{
  background-color: #cc0066;
}   

h1
{
  font-weight: bold;
  padding: 3px;
  color: #ffffff;
}

//MODAL


.modal-header
{
  background-color: #1C2331;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.modal-content
{
  background-color: rgba(255,255,255,0);
}

.modal-body
{
  background-color: #263238;
}
  
.modal-footer
{
  display: none;
}