<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <span class="whereText"><h1>Мы находимся в 2 км от станции метро "Крылатское"<br>Крылатская улица, 45 ЖК «ДОЛИНА ГРЁЗ»<br><br> КАК ДОБРАТЬСЯ?</h1></span>
      </div>
      <div class="row howTextRow">
        <div class="col-sm-6 howText">
          <div class="left">
            <img class="bus-icon" src="https://www.materialui.co/materialIcons/maps/directions_bus_white_192x192.png" />
            <p>На общественном транспорте</p>
          </div>
        </div>
        <div class="col-sm-6 howText">
          <div class="right"><span><p>От автобусной остановки "ст. м. Крылатское"<br> на автобусах номер 129, 829, 850</p></span></div>
        </div>
      </div>
      <div class="row cont">
        <div class="col-sm-6">
          <div class="left">
            <h3>Свяжитесь с нами по телефону</h3>
            <p>+7 800 555-35-35</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="right">
            <h3>Email</h3>
            <p>info@rdgym.ru</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">sdkjhgsdjkhgsd</div>
      </div>
    </div>
  </div>
</div>