.whereText{
    margin: 0 auto;
    text-align: center;
}

.howText img{
    height: 30px;
}

.left{
    float: right;
}

.cont{
    margin-top: 20px;
}

.container-fluid{
    padding: 20px;
}

.left, .right{
    padding: 20px;
}

.right span{
    margin-top: 20px;
}




